root = true

# Source files
[*.{fs,fsx}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf

# Project files
[*.{csproj,fsproj,props}]
indent_size = 2
# Rider does not implement this yet (https://youtrack.jetbrains.com/issue/RIDER-25867) so for now no space before
# resharper_space_before_self_closing = true

# YAML files
[*.yml]
indent_size = 2
indent_style = space
