language: csharp

addons:
  apt:
    packages:
       - msbuild

sudo: false # use the new container-based Travis infrastructure
dist: xenial # Ubuntu 14.04
mono: latest
dotnet: 2.0.0

script:
  - dotnet --info
  - ./build.sh Default