source https://www.nuget.org/api/v2

nuget Nuget.CommandLine ~> 2.0
nuget FsUnit
nuget NUnit ~> 2.6
nuget FSharp.Formatting
nuget NUnit.Runners ~> 2.6
nuget FAKE
github fsharp/FAKE modules/Octokit/Octokit.fsx